---
import { Astronav, MenuItems, MenuIcon} from "astro-navbar"
---

<header class="lg:flex p-5 gap-5">
    <Astronav>
        <div class="flex w-full justify-between" >
            <a href="#heroBanner">AP</a>
            <MenuIcon class="lg:hidden"/>
        </div>
        <MenuItems class="hidden lg:flex" >
            <ul class="flex flex-col lg:flex-row lg:gap-5" >
                <li><a href="#about">À Propos</a></li>
                <li><a href="#experience">Vie Pro</a></li>
                <li><a href="#projects">Projets</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </MenuItems>
    </Astronav>
</header>

<style>
    ul > li {
        white-space: nowrap;
    }
</style>